body {
    background-color: rgb(232, 239, 240);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: fixed;
    top: 3%;
    left: 25%;
    font-weight: lighter;
    color: #444444;
}

.footer {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    font-weight: lighter;
    color: #444444;
    font-size: 14px;
}

#headerText {
    font-size: 55px;
    font-style: italic;
    font-family: 'Yellowtail', cursive;
}

#menuBar>b {
    font-size: 12px;
    margin-right: 5px;
    margin-left: 5px;
}

#menuSection {
    display: inline-block;
}

#mailSection {
    display: inline-block;
    border-width: 70%;
    margin-left: 100px;
    position: relative;

}

#mailImage {
    border: 1px solid #e5e5e5;
}

#mailInfo {
    z-index: 1;
    margin-left: 20px;
    position: absolute;
    top: 0;
    left: 0;
}