html {
    overflow-y: scroll;
}

body {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 239, 240);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-top: 40px;
    font-weight: lighter;
    color: #444444;
}

.footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-self: center;
    font-weight: lighter;
    width: 500px;
    color: #929292;
    font-size: 14px;
    margin-top: 50px;
    margin-left: 150px;
}

#headerText {
    font-size: 55px;
    font-style: italic;
    font-family: 'Yellowtail', cursive;
}

#menuBar>b {
    font-size: 12px;
    margin-right: 5px;
    margin-left: 5px;
}

#menuSection,
#mailSection,
#big-deal,
#big-deal-end-time {
    display: inline-block;
}

#mailSection {
    display: inline-block;
    border-width: 70%;
    margin-left: 100px;
    position: relative;
}


#mailImage {
    border: 1px solid #e5e5e5;
}

#mailInfo {
    z-index: 1;
    margin-left: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

#main {
    background-color: #faf9f9;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 100px;
    margin-top: 50px;
    font-weight: lighter;
    color: #444444;
    width: 850px;
    padding: 20px;
}

#big-deal-item {
    border: 4px solid #f1f1f1;
    padding: 2px;
}

#big-deal-description {
    text-align: justify;
    font-size: 11px;
    color: #9e9e9e;
}

#buy-big-deal {
    border-radius: 8px;
    margin-left: 150px;
    width: 150px;
    height: 50px;
    background-color: #8ce246;
}

#brandNames {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #b6b6b6;
    margin-top: 50px;
    margin-left: 30px;
    border-top: 1px dashed #919191;
    border-bottom: 1px dashed #919191;
    background-color: #ffffff;
    padding-bottom: 30px;
    padding-top: 30px;
}

.brand {
    margin-left: 20px;
    margin-right: 20px;
}

#deal-items {
    display: flex;
    justify-content: stretch;
    margin-top: 30px;
    margin-left: 20px;
}

.deal-item {
    display: flex;
    flex-direction: column;
    width: 33%;
    border-bottom: 1px dashed #919191;
}

.card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 10px;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    padding: 10px;
    padding-bottom: 0px;
    height: 60%;
    margin-left:10px;
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin-top: 10px;
}

.card-discount-info {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    font-size: 13px;
}

.centerText {
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.btnSeeDeal {
    border-radius: 8px;
    margin-left: 25px;
    width: 90px;
    height: 25px;
    background-color: #8ce246;
}

#introduce-section {
    display: flex;
    justify-content: stretch;
    margin-top: 30px;
    margin-left: 20px;
}